<div class="container mt-4">

  <h2 class="text-center mb-3">Listado de Productos</h2>

  <div class="text-center mb-3">
    <a routerLink="/products/new" class="btn btn-primary btn-sm">Nuevo Producto</a>
  </div>

  <table class="table table-bordered table-sm">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Categoria</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.name }}</td>
        <td>{{ product.price | currency }}</td>
        <td>{{ product.stock }}</td>
        <td>{{ product.categoryId }}</td>
        <td>
          <button class="btn btn-sm btn-outline-warning me-1" (click)="editProduct(product.id!)">Editar</button>
          <button class="btn btn-sm btn-outline-danger" (click)="deleteProduct(product.id!)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>
